
/* General Style */

body{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size:16px;
    font-family: 'Baloo Bhaina 2', cursive;
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,::after{
    box-sizing: border-box;
}

.section{
    background-color: #f2f2fc;
    min-height: 100vh;
    display: block;
    padding: 0px 30px;
    position:fixed;
    Left:270px;
    top:0;
    right: 0;
    bottom: 0;
}

/* .main-content{
    padding-left: 270px;
} */

.container{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.hidden{
    display: none!important;
}
.shadow-dark{
    -webkit-box-shadow: 0 0 20px rgba(48,46,77,0.15);
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
/* Aside */
 .aside{
    width:270px;
    background-color:#fdf9ff;
    position: fixed;
    height: 100%;
    left:0;
    top:0;
    z-index:10;
    border-right: 1px solid #e8dfec;
    padding:20px 30px 15px 30px ;
 }

 .aside .logo .image{
    padding:105px 0;
    background-image: url(../public/assets/Images/adilogo.png);
    background-size: cover;
 }

 .aside .logo a{
    font-size: 28px;
    color: #302e4d;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
    margin-left: 14px;
    position: relative;
    padding: 1px 13px;
 }

 .aside .logo a::before{
    content: '';
    height: 20px;
    width: 30px;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 4px solid #ec1839;
    border-left: 4px solid #ec1839;
 }
 .aside .logo a::after{
    content:'';
    height: 20px;
    width: 30px;
    position: absolute;
    bottom:0;
    right:0;
    border-bottom: 4px solid #ec1839;
    border-right: 4px solid #ec1839;
 }

 .aside .nav-toggler{
    height:40px;
    width:40px;
    border: 1px solid #d4d4e3;
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    z-index: 11;
    border-radius: 5px;
    background-color:#fdf9ff;
    display: flex;
    align-items: center;
    justify-content: center;
    /* display: -ms-flexbox;
    display: flex; */
    display: none;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;

 }

 .aside .nav-toggler span{
    height: 2px;
    width: 16px;
    background-color: #ec1839;
    position: relative;

 }

 .aside .nav-toggler span::before{
     content: '';
     height: 2px;
     width: 16px;
     position: absolute;
     top: -6px;
     left: 0px;
     background-color: #ec1839;
 }
 .aside .nav-toggler span::after{
     content: '';
     height: 2px;
     width: 16px;
     position: absolute;
     top: 6px;
     left: 0px;
     background-color: #ec1839;
 }
 .aside .nav{
    background-color: #ededed;
    list-style: none;
    margin:40px 0;
    padding:0;
 }

 .aside .nav li{
    display: block;
 }

 .aside .nav li a{
     font-size: 18px;
     font-weight: 600;
     color: #302e4d;
     text-decoration: none;
     line-height: 45px;
     display: block;
     border-radius: 1px solid #e8dfec;
     -webkit-transition: all 0.3s ease;
     transition: all 0.3s ease;
 }

 .aside .nav li a:not(.active):hover{
     padding-left: 5px;
 }

 .aside .nav li a:hover,
 .aside .nav li a.active{
     color: #ec1839;
 }

 .aside .nav li a .fa{
     margin-right: 5px;
 }



.aside .copyright-text{
    font-size:12px;
    color:#7d7d7d;
}

/* mobile device breakdown */
@media (max-width: 767.98px) {

}

/* talet device breakdown */
@media (max-width: 991.98px){
    .aside .nav-toggler{
    display: -ms-flexbox;
    display: flex;
    left: 30px;
    }
    .aside .nav-toggler.open{
        left:300px;
    }
    .aside{
        left:-270px;
    }
    .aside.open{
        left:0px;
    }
    .section{
        left:0;
    }
    .section.open{
        left:270px
    }
}

/* home */
.home{
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
}

.home .intro{
    text-align: center;
}
.home .intro img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: inline-block;
    border: 8px solid #ffffff;
}

.home .intro h1{
    font-size: 30px;
    color: #302e4d;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    margin:3px 0 5px;
}

.home .intro p{
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    margin: 0;
    color: #504e70;
}

.home .intro .social-links{
    margin-top:15px;
}

.home .intro .social-links a{
    height: 35px;
    width: 35px;
    margin-left: 10px;
    border-radius: 50%;
    text-decoration: none;
}

